:root{
  font-size: 62.5%;

/*Colors*/
--primary-color: #FF5F0E;
--primary-gradiente:  linear-gradient(to right, #FF5F0E,#ff5e0e,#ff5e0e93, #ffffff);
--white: #fff;
--black:#000;
--white-text-80: #ffffffcc;
--white-10: #ffffff10;
--text-muted: #6C757D;
--text-muted-40: #6c757d62;

/*Fonts*/
--text-46: 4.6rem;
--text-40: 4rem;
--text-28: 2.8rem;
--text-20: 2rem;
--text-16: 1.6rem;
--text-14: 1.4rem;
--text-12: 1.2rem;
--black-font: 900;
--bold: 800;
--semibold: 700;
--medium: 600;
--regular: 500;


/*Effects*/
--dp-shadow: 0 4px 4px rgba(0, 0, 0, 0.10);
--dp2-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
--dp3-shadow: 4px 4px 10px rgba(0, 0, 0, 0.411);
}

body{
  background: var(--white);
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

.container{
  max-width: 1240px;
  padding-inline: 2rem;
  margin: 0 auto;
}

.button_filled{
  font-size: var(--text-16);
  background: var(--primary-color);
  padding: 1.2rem 3.2rem;
  color: var(--white);
  font-weight: var(--semibold);
  border-radius: 5px;
  box-shadow: var(--dp3-shadow);
  transition: opacity .5s;
}

.button_outline{
  font-size: var(--text-16);
  border: 1px solid var(--primary-color);
  padding: 1.2rem 3.2rem;
  color: var(--primary-color);
  font-weight: var(--medium);
  border-radius: 5px;
  transition: opacity .5s;
  max-width: max-content;
  transition: background-color .5s;
  margin-top: 2rem;
}

.button_filled:hover {
  opacity: .8;
}

.button_outline:hover{
background-color: var(--primary-color);
color: var(--white);
}

.title{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.title h1 {
  margin: 0 auto;
  font-size: var(--text-46);
  color: var(--white);

}

.title p{
  font-size: var(--text-16);
  max-width: 500px;
  width: 100%;
  line-height: 2.4rem;
  color: var(--white);
  margin: 0 auto;
  text-align: center;
}

.visible {
  display: flex !important; 
}

.hidden {
  display: none !important;
}

@media(max-width: 769px){
  body{
    background: var(--primary-color);
    color: var(--white);
  }

  .button_outline{
    background-color: unset;
    color: var(--white);
    border: 1px solid var(--white);
    margin: 0 auto;
    font-size: var(--text-14);
    }

  .button_filled{
      display: none;
    }

  .title h1 {
      font-size: var(--text-28);
    }

  .title p{
    font-size: var(--text-12);
    line-height: 1.8rem;
    max-width: 290px;
    color: var(--white-text-80);
  }
  
}

@media(max-width: 540px){

  .title{
    gap: 0rem;
  }

  .title h1 {
    font-size: var(--text-20);
  }
}